body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  height: 200vh;
  padding: 16px;
}

.scrollArea {
  height: 70vh;
  overflow-y: scroll;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed black;
}

.scrollContent {
  height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.balloon {
  transform-origin: bottom left;
  transform: scale(1);
  transition: 300ms transform ease-in;
}

.scaledUp {
  transform: scale(2);
}
