body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
.wrapper {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}