body {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.scaledUp {
  transform-origin: bottom;
  transform: scale(2.0);
  transition: 300ms transform ease-in;
}

.normal {
  transform: scale(1.0);
}